src/html/index.pug
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Disfind
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
		link(rel="stylesheet" href="css/main.css")

	body
		div.loader
			div.loader_inner

		.wrapper
			header
				.logo
					a(href="#")
						img(src="images/logo.jpg" alt="")

				.lang
					span en/
					span ru

			.wrap

				.title
					h1 Disfind
						span Скидки и акции находятся здесь!

				.slider
					.slide
						.slide__text
							h2 Не важно где ты, скидки есть везде111
							p.
								Возможно уже за углом твоего дома тебя ждут невероятные предложения о которых ты не знал

						.slide__image
							img(src="images/slide_1.png" alt="")

					.slide
						.slide__text
							h2 Совершай только выгодные покупки
							p.
								В Disfind ты всегда будешь в плюсе, а система рейтинга поможет тебе в этом

						.slide__image
							img(src="images/slide_2.png" alt="")

					.slide
						.slide__text
							h2 Не важно где ты, скидки есть везде333
							p.
								Возможно уже за углом твоего дома тебя ждут невероятные предложения о которых ты не знал

						.slide__image
							img(src="images/slide_1.png" alt="")


				.button
					a(href="#") Скачать бесплатно на Андроид
			.footer-wrap
				footer
					p Ищите нас в социальных сетях:
						a(href="#")
							<i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#")
							<i class="fa fa-twitter" aria-hidden="true"></i>



		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js")
		script(type="text/javascript" src="libs/slick-carousel/slick/slick.min.js")
		script(type="text/javascript" src="js/custom.js")

dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Disfind</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="libs/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="loader">
      <div class="loader_inner"></div>
    </div>
    <div class="wrapper">
      <header>
        <div class="logo"><a href="#"><img src="images/logo.jpg" alt=""></a></div>
        <div class="lang"><span>en/</span><span>ru</span></div>
      </header>
      <div class="wrap">
        <div class="title">
          <h1>Disfind<span>Скидки и акции находятся здесь!</span></h1>
        </div>
        <div class="slider">
          <div class="slide">
            <div class="slide__text">
              <h2>Не важно где ты, скидки есть везде111</h2>
              <p>
                Возможно уже за углом твоего дома тебя ждут невероятные предложения о которых ты не знал
                
              </p>
            </div>
            <div class="slide__image"><img src="images/slide_1.png" alt=""></div>
          </div>
          <div class="slide">
            <div class="slide__text">
              <h2>Совершай только выгодные покупки</h2>
              <p>
                В Disfind ты всегда будешь в плюсе, а система рейтинга поможет тебе в этом
                
              </p>
            </div>
            <div class="slide__image"><img src="images/slide_2.png" alt=""></div>
          </div>
          <div class="slide">
            <div class="slide__text">
              <h2>Не важно где ты, скидки есть везде333</h2>
              <p>
                Возможно уже за углом твоего дома тебя ждут невероятные предложения о которых ты не знал
                
              </p>
            </div>
            <div class="slide__image"><img src="images/slide_1.png" alt=""></div>
          </div>
        </div>
        <div class="button"><a href="#">Скачать бесплатно на Андроид</a></div>
      </div>
      <div class="footer-wrap">
        <footer>
          <p>Ищите нас в социальных сетях:<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
        </footer>
      </div>
    </div>
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="libs/slick-carousel/slick/slick.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>
